@import '../../../styles.scss';

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .create-button {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .project-list {
    list-style: none;
    padding: 0;
  }
  
  .project-item {
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .tech {
    color: gray;
    font-size: 14px;
  }
